/* Set a fixed scrollable wrapper */
.tableWrap {
  height: 200px;
  margin-top: .5rem;
  border-bottom: 2px solid rgb(114, 111, 111);
  overflow: auto;
  table {
      border-collapse: collapse;
      width: 100%;
  font-family: sans-serif;
      thead {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.85);
          tr th {
              position: sticky;
              top: 0;
              padding: 16px;
              padding-left: 15px;
              border-left: 1px dotted rgba(200, 209, 224, 0.6);
              border-bottom: 1px solid #e8e8e8;
              background: #ffc491;
              text-align: left;
          }
      }
      tbody tr {
          border-bottom: 2px solid #e8e8e8;
          &:hover {
              background: #e6f7ff;
          }
          td {
              padding: 16px;
          }
      }       
  }
}