
<section>
    <h1 class="title">Welcome to Phamacy App</h1>
    <p class="intro">This application helps you automate some of the common routines in the pharmacy</p>

    <div class="row">

        <div class="col1 col-md-4">
            <h2 class="col1__title">Transactions</h2>

            <a class="dept card" href="/add-receipt">
                <h3>Receive Inventory</h3>
            </a>
            <a class="dept card" href="/add-issue">
                <h3>Issue Inventory</h3>
            </a>
        </div>

        <div class="col2 col-md-4">
            <h2 class="col2__title">Services</h2>

            <a class="dept card" href="/inventory">
                <h3>Manage Inventory</h3>
            </a>

            <a class="dept card" href="/departments">
                <h3>Departments</h3>
            </a>
        </div>


        <div class="col3 col-md-4">
            <h2 class="col3__title">Reports</h2>

            <a class="dept card" href="#">
                <h3>Receipts</h3>
            </a>

            <a class="dept card" href="#">
                <h3>Receipts</h3>
            </a>
        </div>

       
    </div>
</section>