
<style>
    * {
        padding: 0;margin: 0;box-sizing: border-box;font-size: .85rem;
    }
    .container {
        background-color: rgb(133, 202, 145);height: inherit;
        padding-left: .75rem;
    }
    .cls-btn {
        float: right;font-size: 1.2rem;font-weight: bold;outline: 1px solid red;
        margin-right: .85rem;
    }
    .list {
        list-style: none;padding: 0;margin: 0;background-color: hsla(204, 66%, 72%, 0.938);
        position: absolute;max-height: 15rem;overflow-y: auto;left: 3.5rem;
        left: inherit;
        width: 15rem;max-width: 15rem;
    }
    .list-item {
        padding:0;margin:0;
    }
    .list-item:nth-child(odd) {background-color: hsl(214, 55%, 85%)}
    .list-item:hover {
        color: #fff;
    }
    .details {
        display: flex;
        flex-direction: column;
    }
    .details-array {
        min-height: 58vh;max-height: 58vh; overflow-y: auto;background-color: rgb(173, 207, 190);
    }
    span {
        display: inline-block;
    }
    .no {
        width: 2rem;
    }
    .desc {
        width: 20rem;
    }
    .cost,.qty,.total {
        width: 5rem;
    }
    .details-summary {
        align-self: flex-end;margin-right: 10rem;
    }
    .footer {
        border-bottom: 2px solid #444;display:flex;justify-content: center;
        padding-bottom: 1rem;
    }
    .btn {
        padding: 0 .85em;
    }
    .save-btn {
        background-color: rgb(80, 192, 24);margin-right: 5rem;
    }
    .clr-btn {
        background-color: rgb(78, 78, 202);
    }
    .btn-remove {
        width: 2rem;
    }
    .btn-remove:hover {
        background-color: #f54803;
        color: #fff;
    }
    .is-invalid{
        border: 2px solid red;
    }
</style>

<div class="container">
    <button class=" btn cls-btn" (click)="onCancel()">&times;</button>
    <h6> New Issue</h6>
    <form [formGroup]="myForm" autocomplete="off" >
        <div class="head">            
            <label>Department(To):
                <input #dept type="text" (keyup)="filterDepartments(dept.value)"
                (clickOutside)="onDeptclickOutside()" formControlName="issueTo"
                [ngClass]="{'is-invalid':this.myForm.get('issueTo').invalid && this.myForm.get('issueTo').touched }"
                placeholder="Search department here...">
                <div class="list">
                    <p class="list-item" *ngFor="let d of filteredDepartments"
                    (click)="onDeptClick(d)">
                        {{d}}
                    </p>
                </div>
            </label>
            <label style="margin-left:1rem"> S11 No.:
                <input type="number" formControlName="issueRef"
                [ngClass]="{'is-invalid':this.myForm.get('issueRef').invalid && this.myForm.get('issueRef').touched}">
            </label>
            <label style="margin-left:1rem">Date:
                <input #date type="date" formControlName="issueDate"
                (change)="onDateUpdate(date.value)">
            </label>

            <label style="display: block;margin-top: 1em;">Add Item(s):
                <input #drugSearch type="text" (keyup)="filterDrugs(drugSearch.value)"
                (clickOutside)="onDrugclickOutside()"
                placeholder="Search items here...">
                <div class="list">
                    <p class="list-item" *ngFor="let d of filteredDrugs;let i=index"
                    (click)="onDrugClick(d, drugSearch)">
                        {{d.description}}
                    </p>
                </div>
            </label>    
        </div>
        <div class="detail">
            <div class="detail-head">
                <span class="no">No</span>
                <span class="desc">Item Description</span>
                <span class="cost">Cost</span>
                <span class="qty">Quantity</span>
                <span class="total">Total</span>
            </div>
            <div class="details" formArrayName="issueDetails">
                <div class="details-array">
                    <p #detail *ngFor="let detail of formDetails.controls;let i=index" [formGroupName]="i">
                        <span> <input class="no"  [value]="i + 1"> </span>
                        <span> <input class="desc" formControlName="itemDesc" spellcheck="false"> </span>
                        <span> <input class="cost" 
                            [value]="detail.get('itemPrice').value |  number:'1.2-2'"></span>
                        <span> <input type="number" class="qty" class="qty" #qty
                            formControlName="itemQty"
                            (change)="qtyOnChange(i)"
                            (keydown.tab)="focusOnSearch()"></span>
                        <span> <input class="total" readonly formControlName="lineTotal"
                            [value]="detail.get('lineTotal').value |  number:'1.2-2'"></span>
                        <span> <button class="btn-remove"  (click)="detailDelete(i)">
                            &times;
                        </button></span>
                    </p>
                </div>
                <div class="details-summary">
                    <label>Total:
                        <input type="button" [value]="formDetailTotal | number:'1.2-2'">
                    </label>
                </div>

                
            </div>
            <div class="footer">
                <button class="btn save-btn" (click)="saveForm()"
                [disabled]="myForm.invalid" >
                    Save
                </button>
                <button class="btn clr-btn" (click)="clearForm()"
                [disabled]="!formDetails.length" >
                    Clear
                </button>
                
            </div>
        </div>
    
    </form>
</div>
