<div class="container">
    <button class=" btn cls-btn" (click)="onCancel()">&times;</button>
    <h6> New Receipt</h6>
    <form [formGroup]="myForm" autocomplete="off">
        <div class="head">
            <label>Department(from):
                <input #dept type="text" (keyup)="filterDepartments(dept.value)" (clickOutside)="onDeptclickOutside()"
                    placeholder="Search department here...">
                <div class="list">
                    <p class="list-item" *ngFor="let d of filteredDepartments" (click)="onDeptClick(d)">
                        {{d}}
                    </p>
                </div>
            </label>
            <label style="margin-left:1rem"> S11 No.:
                <input type="number">
            </label>
            <label style="margin-left:1rem">Date:
                <input #date type="date" formControlName="receiptDate" (change)="onDateUpdate(date.value)">
            </label>

            <label style="display: block;margin-top: 1em;">Add Item(s):
                <input #drugSearch type="text" (keyup)="filterDrugs(drugSearch.value)"
                    (clickOutside)="onDrugclickOutside()" placeholder="Search items here...">
                <div class="list">
                    <p class="list-item" *ngFor="let d of filteredDrugs;let i=index"
                        (click)="onDrugClick(d, drugSearch)">
                        <span
                            style="display: inline-block;margin-right: 10px;">{{d.code}}</span><span>{{d.description}}</span>
                    </p>
                </div>
            </label>
        </div>
        <div class="detail">
            <table>
                <thead>
                    <tr>
                        <th style="width: 6%;">No</th>
                        <th style="width: 50%;">Item Description</th>
                        <th>Cost</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr receipt-detail [detail]="detail" [index]="i" (delete)="spliceTransferDetail($event.value)" *ngFor="let detail of receiptDetail; let i=index">
                    </tr>

                </tbody>
            </table>

            <div class="details" formArrayName="receiptDetails">

                <div class="details-summary">
                    <label>Total:
                        <input type="button" [value]="formDetailTotal | number:'1.2-2'">
                    </label>
                </div>


            </div>
            <div class="footer">
                <button class="btn save-btn" (click)="saveForm()" [disabled]="myForm.invalid">
                    Save
                </button>
                <button class="btn clr-btn" (click)="clearForm()" [disabled]="!formDetails.length">
                    Clear
                </button>

            </div>
        </div>

    </form>
</div>