
.container {
  height: inherit;
  padding-left: 0.75rem;
}

/* close button */
.cls-btn {
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 1px solid red;
  margin-right: 0.85rem;
}

/* Input fields */
.input-field {
  position: relative;
  width: 200px;
}

/* Search dropdowns */
.dropdown {
  position: absolute;
  display: inline-block;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: #fffaf6;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 5;
}
.dropdown p {
  padding: 4px 0;
}
.dropdown p:hover {
  background-color: rgb(243, 235, 235);
}


/* Table css */
.tableWrap {
  height: 200px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-bottom: 2px solid #726f6f;
  padding-bottom: 1rem;
  overflow: auto;
}
.tableWrap table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
}
.tableWrap table thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
.tableWrap table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 16px;
  padding-left: 15px;
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  background: #ffc491;
  text-align: left;
}
.tableWrap table tbody tr {
  border-bottom: 2px solid #e8e8e8;
}

.tableWrap table tbody tr td {
  padding: 5px 16px;
}

.tableWrap table tbody tr td input {
  display: block;
  border: none;
  width: 100%;
  background-color: #f0eccc;
}

.has-error {
  border: 1px solid tomato !important;
}
