$primary: #0a65ff;
$negative: #E01A1A;
$positive: #008400;
$warning: #BA5300;
$info: #0276BA;


$bg: #FFFFFF;
$bg-input: #DAE1EC;
$selected: #EBF2FF;

$p-text: #2E3B52;
$s-text: #606F89;
$icon: #6F809E;
$stroke: #7D90B2;

$stripes: #F4F7FC;
