section {
    background-image: url(../../assets/drug_pic.jpg);
    background-size: cover;
    padding: 5rem;
    padding-top: 2rem;
}


.title {
    padding-bottom: 1.5rem;
}
a.dept {
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid green;
    margin-bottom: 2rem;

}